body {
    margin: 64px 80px;
    background-color: #f4f4f4;
}

section {
    margin: 64px 0px
}

p {
    color: gray;
}

.hc_text {
    color: black;
    font-size: 1rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
}

.card_w_h3 {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.card {
    background-color: #ffffff;
    padding: 4px 24px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16)
}





.button {
    text-decoration-line: none;
    font-style: normal;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;

    background-color: rgb(184, 184, 184);
    border: 0px;
    padding: 12px 24px;
    border-radius: 4px;
}
.button:hover {
    background-color: blue;
}
.button:focus {
    background-color: rgb(16, 16, 122);
}